.select-1  /*border et design des listbox*/
  {
    font-weight: inherit;
    margin: 0;
    padding: 0;
    width: 27rem;  border: 1px solid gray;
    margin-bottom: 20px;
    padding: 1rem;
    font-size: 1.4rem;
    height: 3.4rem;
    max-width: 100%;
    padding: 0 10px;
    resize: none;
    text-align: left;
    width: 300px;
  }
 
.row:last-child 
  { /*distance entre les 4 premiers inputs grp cl onglet lst prix ... */
    margin-bottom: 20px;
    padding: 3rem 1rem;
  }
input
  {/*distance entre les inputs*/
    min-width: 30rem;
    margin: 1rem;
    height: 3rem;
      
  }