<div soho-busyindicator [activated]="isDetailBusy" [blockUI]="true" [displayDelay]="0">
    <div  class="row card">
       <div class="twelve columns"></div>
       <div class="num">
         <div class="six columns">
            <div class="field">Numéro
               <label for="di-cuno"><input id="di-cuno" [(ngModel)]="DCUNO" readonly /></label>                                     
            </div>
         </div>
    </div>
         <div class="cle">
         <div class="six columns">
             <div class="field">clé de recherche 
                <label for="di-cua2"><input id="di-cua2" [(ngModel)]="DPONO" readonly /></label>                                      
             </div>
          </div>                              
    </div>                 
      <div class="">
         <div class="six columns">
            <div class="field">Nom
               <label for="di-cumn"><input id="di-cunm" [(ngModel)]="DCUNM"  readonly/></label>                                     
            </div>
         </div>                                
      </div>                    
      <div class="">
         <div class="six columns">
            <div class="field">Ville
               <label for="di-town"><input id="di-town" [(ngModel)]="DTOWN" readonly /></label>                                      
            </div>
         </div>
         <div class="six columns">
            <div class="field">Matricule Fiscale
               <label for="di-cua3"> <input id="di-cua3" [(ngModel)]="DTFNO" readonly /></label>
            </div>
         </div>
      </div>   
      <div class="">
         <div class="six columns">
            <div class="field">Pays
               <label for="di-cscd"> <input id="di-cscd" [(ngModel)]="DCSCD" readonly /></label>
            </div>
         </div>
         <div class="six columns">
             <div class="field">Adresse 1 
                <label for="di-cua1"><input id="di-cua1" [(ngModel)]="DCUA1" readonly /></label>
             </div>
          </div>
         <div class="six columns">
            <div class="field">Telephone
               <label for="di-cua4"> <input id="di-cua4" [(ngModel)]="DPHNO" readonly /></label>
            </div>
         </div>
      </div>

       

      
    </div>
 </div>