<div soho-busyindicator [activated]="isDetailBusy" [blockUI]="true" [displayDelay]="0">
   <div  class="row card">
       <div class="twelve columns"></div>
         <div class="num">
            <div class="six columns">
               <div class="field" style="    margin-left: 42px;
               top: 20px;">Numéro
                  <label for="di-cuno"><input id="di-cunoNumero" [(ngModel)]="DCUNO" readonly /></label>                                     
               </div>
            </div>
         </div>
         <div class="cle">
            <div class="six columns">
               <div class="field" style="    margin-left: 101px;
               top: 26px;">clé de recherche 
                  <label for="di-cua2Cle"><input id="di-cua2Cle" [(ngModel)]="DPONO" readonly /></label>                                      
               </div>
            </div>                              
         </div>                 
      <div class="">
         <div class="six columns">
            <div class="field" style="top: 12px;
            margin-left: 39px;">Nom
               <label for="di-cumnNom"><input id="di-cumnNom" [(ngModel)]="DCUNM"  readonly/></label>                                     
            </div>
         </div>                                
      </div>                    

         <div class="six columns" >
            <div class="field" style="    margin-left: 101px;
            top: 15px;">Ville
               <label for="di-cscdVille"> <input id="di-town" [(ngModel)]="DTOWN" readonly /></label>
            </div>
         </div>
         
         <div class="six columns" >
            <div class="field" style=" margin-left: 40px;
            top: 12px;">Matricule Fiscale
               <label for="di-cscdMat"> <input id="di-cscdMat" [(ngModel)]="DTFNO" readonly /></label>
            </div>
         </div>
      <div class="">
         <div class="six columns" >
            <div class="field" style="margin-left: 100px;
            top: 12px;">Pays
               <label for="di-cscdPays"> <input id="di-cscd" [(ngModel)]="DCSCD" readonly /></label>
            </div>
         </div>
         <div class="six columns">
             <div class="field" style="margin-left: 40px;
             top: 0px;">Adresse 1 
                <label for="di-cua1Adresse"><input id="di-cua1Adresse" [(ngModel)]="DCUA1" readonly /></label>
             </div>
          </div>
          <div class="six columns">
            <div class="field" style="margin-left:100px;
            top: 0px;">Téléphone
               <label for="di-cua1Tel"><input id="di-cua1Tel" [(ngModel)]="DPHNO" readonly /></label>
            </div>
         </div>
        
      </div>
   </div>
</div>