<div class="row top-padding">
  <div class="two-thirds column">
    <div style="background-color: #ffffff;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    margin-bottom: 20px;
    min-height: 270px;
    position: relative;
    top: -801px;
    margin-left: -14px;
    width: 609px;">
        <h2 class="widget-title">Ordre de Travail par Statut</h2>
      </div>
      <div style="background-color: #ffffff;
      border: 1px solid #bdbdbd;
      border-radius: 2px;
      margin-bottom: 20px;
      min-height: 240px;
    position: relative;
    top: -1056px;
    margin-left: -14px;
    width: 609px;" *ngIf="test">
        <div soho-bar [dataset]="barStackedData" [type]="barType"></div>
      </div>
  </div>
</div>
