<div class="margin" >
  <div class="row top-padding" >
    <div class="two-thirds column">
      <div class="widget" style="    top: -636px;
      width: 63%;
      margin-left: 602px;">
          <div class="widget-header">
            <h2 class="widget-title">Ordre de Travail par Modèles</h2>
          </div>
            <div class="widget-content" *ngIf="test && pieData.length > 0">
              <div soho-pie 
                [dataset]="pieData"
                (selected)="onSelected($event)"
                (deselected)="onDeselected($event)"
                (rendered)="onRendered($event)">
              </div>
            </div>
       </div>
    </div>
  </div>
</div>