<!--<button soho-button="icon"  soho-tooltip title="View source code" (click)="openDialog()">
    <svg soho-icon icon="contacts"></svg>
</button>-->
<!--
<button soho-button="icon" icon="add" title="Add" (click)="ajouter_client()"></button>

<div class="popup" *ngIf='display'>
    <div class="background-black"   (click)="closemodal()"></div>
    <div class="popup-container" [class]="fadeout" >
       <div class="top">
          <div class="text"><svg class="icon-plus"><use xlink:href="assets/icons.svg#icon-user-plus"></use></svg>Ajout Client</div>
          <div class="left"><svg class="icon" (click)="closemodal()"><use xlink:href="assets/icons.svg#icon-save"></use></svg>
             <svg class="icon" (click)="closemodal()"><use xlink:href="assets/icons.svg#icon-cancel-circle"></use></svg></div>
       </div>
       <div class="form-container">
          <div class="select">
             <select  required >
                <option id="di-lang"  selected disabled  >Template</option> 
                <option *ngFor="let item of items" [ngValue]="sta">{{item["CUNM"]}}</option>
               
             </select>
          </div>
         
          <input id="di-lang" [(ngModel)]="Custmername" ngModel ng-model="Nom Client"placeholder="Custmername" required />
          <input  [(ngModel)]="Adress" ngModel ng-model="Adress" placeholder="Adresse" required />
          <input  [(ngModel)]="City" ngModel ng-model="City" placeholder="Ville" required />
          <input  [(ngModel)]="State" ngModel ng-model="State" placeholder="Etat" required />
          <input  [(ngModel)]="codePos" ngModel ng-model="codePos" placeholder="code Postale" required />
          <input  [(ngModel)]="Country" ngModel ng-model="Country" placeholder="Pays" required />
          <input  [(ngModel)]="MobileNumber" ngModel ng-model="Téléphone" placeholder="Mobile Number" required />
          <input [(ngModel)]="FaxNumber" ngModel ng-model="FaxNumber" placeholder="Numéro Faxe"required />
          <input [(ngModel)]="Email" ngModel ng-model="Email" placeholder="E-mail" required />
          <input [(ngModel)]="Compagnie" ngModel ng-model="Compagnie" placeholder="Compagnie"
             required />
             
       </div>
    </div>
</div>
   <div #dialogPlaceholder></div>
     
  
  
-->