<div class="full-width column">

  
    <div class="field">
      <label for="context-name" class="required">Nom</label>
      <input minlength="6" id="context-nom" aria-required="true" data-validate="required"   name="context-nom" type="text" [(ngModel)]="nom"  />
    </div>
    <div class="field">
      <label for="context-Type" class="required">Type</label>
      <input id="context-Type" aria-required="true" data-validate="required" name="context-Type" type="text" [(ngModel)]="typeRDV"  />
    </div>

    <form [formGroup]="myForm" >
      <div class="form-group">
      <div class="field">
        <label for="context-Tel" class="required">Tel</label>
        <input id="context-name" aria-required="true" data-validate="required" name="context-name" type="text"  [(ngModel)]="tel" class="form-control" formControlName="telephone" [ngClass]="{'is-invalid': myForm.get('telephone').hasError('minlength')}"  (keyup)="handleinput()" />
        <div class="invalid-feedback" >
          <br>
          <strong *ngIf="myForm.get('telephone').hasError('minlength')">La longueur de telephone doit être égale à 8</strong>
          <br>
          <strong *ngIf="myForm.get('telephone').hasError('pattern')">Telephone n'admet que 0-9</strong>
          </div>
      </div>
      </div>
      </form>

    <div class="row" >
      <div class="four columns">
        <div class="field" style="width: 111px;">
          <label for="standard12" class="label">Date de RDV</label>
          <input soho-datepicker name="standard12" placeholder="jj" [(ngModel)]="date" data-validate="required"/>
        </div>
      </div>
   
      <div class="four columns">
        <div class="field" style="top: 1px;
        margin-left: 37px;
        width: 93px;">
          <label for="standard24" class="label">Heure / Minute</label>
          <input soho-timepicker name="standard24" timeFormat="HH:mm" placeholder="hh/mm" mode="standard" [(ngModel)]="heure" data-validate="required"/>
        </div>
      </div>
  
    </div>

    <form [formGroup]="myForm" >
      <div class="form-group">
      <div class="field">
        <label for="context-desc" class="required">Déscription</label>
        <textarea id="context-Déscription" aria-required="true" data-validate="required" name="context-name" maxlength="5000" [(ngModel)]="Description" class="form-control" formControlName="Review"  (keyup)="handleinput()" ></textarea>
      </div>
        </div>
        </form>
  </div>
