<div class="full-width full-height scrollable-flex">
  
    
        <odin-sample-viewer ></odin-sample-viewer>
      <div>
  
            <soho-toolbar
               [maxVisibleButtons]="6"
               [resizeContainers]="true"
               [favorButtonset]="true"
               (selected)="onSelected($event)">
            
             <soho-toolbar-title>
               <span soho-toolbar-section-title></span>
             </soho-toolbar-title>
            
             <soho-toolbar-button-set>
               <button soho-button="icon" icon="add" title="Ajout Client" data-action="{'button':'add'}" (click)="ajouter_client()"></button>
               <button soho-button="icon" icon="edit" (click)="modifier_client()" data-action="{'button':'Edit'}" title="Modifier Client"></button>
                </soho-toolbar-button-set>
            </soho-toolbar>
            <div>
              <div  #customersDatagrid soho-datagrid [gridOptions]="datagridOptions"  (selected)="onSelected($event.rows)"
              soho-busyindicator [activated]="isBusy" [blockUI]="true" [displayDelay]="0"></div>
            </div>
            
            <div soho-tabs>
               <div soho-tab-list-container>
                  <ul soho-tab-list>
                     <li soho-tab>
                        <a soho-tab-title tabId="tab-1">Information basique</a>
                     </li>
                     <li soho-tab>
                        <a soho-tab-title tabId="tab-2">Details client</a>
                     </li>
                     <li soho-tab>
                        <a soho-tab-title tabId="tab-3">Information financière</a>
                     </li>
                     <li soho-tab>
                        <a soho-tab-title tabId="tab-4">Rendez-vous</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div soho-tab-panel-container>
                   
               <div soho-tab-panel tabId="tab-1">
                  <div soho-busyindicator [activated]="isDetailBusy" [blockUI]="true" [displayDelay]="0">
                     <div *ngIf="hasSelected && detailItem" class="row card">
                        <div class="twelve columns"></div>
                        <div class="num">
                          <div class="six columns">
                             <div class="field">Numéro
                                <label for="di-cuno"><input id="di-cuno" [(ngModel)]="DCUNO" readonly /></label>                                     
                             </div>
                          </div>
                     </div>
                          <div class="cle">
                          <div class="six columns">
                              <div class="field">clé de recherche 
                                 <label for="di-cua2"><input id="di-cua2" [(ngModel)]="DPONO" readonly /></label>                                      
                              </div>
                           </div>                              
                     </div>                 
                       <div class="">
                          <div class="six columns">
                             <div class="field">Nom
                                <label for="di-cumn"><input id="di-cunm" [(ngModel)]="DCUNM"  readonly/></label>                                     
                             </div>
                          </div>                                
                       </div>                    
                       <div class="">
                          <div class="six columns">
                             <div class="field">Ville
                                <label for="di-town"><input id="di-town" [(ngModel)]="DTOWN" readonly /></label>                                      
                             </div>
                          </div>
                          <div class="six columns">
                             <div class="field">Matricule Fiscale
                                <label for="di-cua3"> <input id="di-cua3" [(ngModel)]="DTFNO" readonly /></label>
                             </div>
                          </div>
                       </div>   
                       <div class="">
                          <div class="six columns">
                             <div class="field">Pays
                                <label for="di-cscd"> <input id="di-cscd" [(ngModel)]="DCSCD" readonly /></label>
                             </div>
                          </div>
                          <div class="six columns">
                              <div class="field">Adresse 1 
                                 <label for="di-cua1"><input id="di-cua1" [(ngModel)]="DCUA1" readonly /></label>
                              </div>
                           </div>
                          <div class="six columns">
                             <div class="field">Telephone
                                <label for="di-cua4"> <input id="di-cua4" [(ngModel)]="DPHNO" readonly /></label>
                             </div>
                          </div>
                       </div>
              
                        
               
                       
                     </div>
                  </div>
               </div>
              </div>
              <div soho-tab-panel-container>
                <div soho-tab-panel tabId="tab-2">
                  <div soho-busyindicator [activated]="isDetailBusy" [blockUI]="true" [displayDelay]="0">
                     <div *ngIf="hasSelected && detailItem" class="row card">         
                        <div class="num">
                             <div class="six columns">
                                <div class="field">Groupe de Clients
                                   <label for="di-cuno"><input id="grp" [(ngModel)]="detailItem.OKCUCL" readonly /></label>                                     
                                </div>
                             </div>
                        </div>
                             <div class="cle">
                                <div class="six columns">
                                    <div class="field">onglet liste de prix
                                       <label for="di-cua2"><input id="clrech" [(ngModel)]="detailItem.OKPLTB"readonly /></label>                                      
                                    </div>
                                 </div>                              
                              </div>                 
                          <div class="">
                             <div class="six columns">
                                <div class="field">Groupe de facturation 
                                   <label for="di-cumn"><input id="grpfact" [(ngModel)]="detailItem.OKIVGP" readonly/></label>                                     
                                </div>
                             </div>                                
                          </div>                    
                          <div class="">
                             <div class="six columns">
                                <div class="field">Modalités de paiement 
                                   <label for="di-town"><input id="modpai" [(ngModel)]="detailItem.OKTEPY"readonly /></label>                                      
                                </div>
                             </div>
                            
                            
                          </div>
                          <div class="six columns">
                             <div class="field">Devise
                                <label for="di-cscd"> <input id="dev" [(ngModel)]="detailItem.OKCUCD" readonly/></label>
                                
                             </div>
                          </div>
                          <div class="six columns">
                              <div class="field">Vendeur 
                                 <label for="di-cua1"><input id="vend" [(ngModel)]="detailItem.OKSMCD" readonly /></label>
                                 
                              </div>
                           </div>
                          <div class="six columns">
                             <div class="field">Modèle de remise 
                                <label for="di-cua4"> <input id="rem" [(ngModel)]="detailItem.OKLHCD"readonly /></label>
                                 
                             </div>
                             
                          </div>
                          <div class="six columns">
                             <div class="field">Paiement mtd AR 
                                <label for="di-cua4"> <input id="pai" [(ngModel)]="detailItem.OKPYCD"readonly /></label>
                     
                             </div>
                          </div>
                          <div class="six columns">
                             <div class="field">Groupe de remise  
                                <label for="di-cua4"> <input id="grprem" [(ngModel)]="detailItem.OKDIGC" readonly/></label>
                                 
                             </div>
                             
                          </div>
                          <div class="six columns">
                             <div class="field"><label>summary invoice</label>
                             <select class="select-1 field"  required [(ngModel)]="detailItem.OKAICD"readonly>
                                <!-- <option id="di-lang"  selected disabled  >Template</option> -->
                                <option value="saab" disabled selected>   </option>
                                <option value="0">0-One Order/Dely</option>
                                <option value="1">1-Same order</option>
                                <option value="2">2-Same Payer</option>
                                <option value="2">3-Item oriented</option>
                             </select>
                             </div>
                          </div>
 
                       
              
                      
                    </div>
                 </div>
               </div>
              </div>
              <div soho-tab-panel-container>

               <div soho-tab-panel tabId="tab-3">
                            
                           <div soho-busyindicator [activated]="isDetailBusy" [blockUI]="true" [displayDelay]="0"readonly>
                              <div *ngIf="hasSelected" class="row card"> 
                                 
                                 <div class="six columns">
                                    <div class="field"><label>Arrêt client </label>
                                    <select class="select-1 field"  required [(ngModel)]="BLCD" readonly>
                                       <!-- <option id="di-lang"  selected disabled  >Template</option> -->
                                       <option value="0">0-Non bloquer</option>
                                       <option value="1">1-Bloquer partiellement</option>
                                       <option value="2">3-Bloquer CO,EQM</option>
                                    </select>
                                    </div>
                                 </div>        
                                
                                 <div class="six columns">
                                    <div class="field"><label>Taxe applicable   </label>
                                    <select class="select-1 field"  required [(ngModel)]="TXAP" readonly>
                                       <!-- <option id="di-lang"  selected disabled  >Template</option> -->
                                       <option value="0">0-Non</option>
                                       <option value="1">1-Oui</option>
                                       <option value="2">2-Non VAT expemt</option>
                                    </select>
                                    </div>
                                 </div>   
                                             
                                 <div class="">
                                    <div class="six columns">
                                       <div class="field">Devise 
                                          <label for="di-cumn"><input id="di-cunm" [(ngModel)]="CUCD" readonly/></label>                                     
                                       </div>
                                    </div>                                
                                 </div>                    
                                 <div class="">
                                    <div class="six columns">
                                       <div class="field">Mdalités de paiement 
                                          <label for="di-town"><input id="di-town" [(ngModel)]="TEPY" readonly/></label>                                      
                                       </div>
                                    </div>
                                   
                                 </div>




                                    
                               </div>
                           </div>
                        </div>
                  
                     </div>
                     <div soho-tab-panel tabId="tab-service">
                       
                     </div>
                  <div soho-tab-panel-container>
                        <div soho-tab-panel tabId="tab-Recherche">
                            <div class="full-width full-height scrollable-flex">            
                            </div>
                         </div>
                        <div soho-tab-panel tabId="tab-Vehicule"></div>
                        <div soho-tab-panel tabId="tab-Service"></div>
                        <div soho-tab-panel tabId="tab-maintenance"></div>
                  </div>







     </div>
    

 </div>


<div class="popup" *ngIf='display'>
   <div class="background-black"   (click)="closemodal()"></div>
     <div class="popup-container" [class]="fadeout" >
         <div class="top" [style.background-color]="color.color">
            <div class="text"><svg class="icon-plus"><use xlink:href="assets/icons.svg#icon-user-plus"></use></svg>Ajout Client</div>
            <div class="left"><svg class="icon" (click)="AddCustomer()"><use xlink:href="assets/icons.svg#icon-save"></use></svg>
            <svg class="icon" (click)="closemodal()"><use xlink:href="assets/icons.svg#icon-cancel-circle"></use></svg></div>
         </div>
            <div class="form-container">
               <select [(ngModel)]="ValueOfTemplateSelected">
               <option [selected]="item.CUNO" *ngFor="let item of items" value="{{item['CUNO']}}" >{{item["CUNM"]}}</option>
               </select>
            
       
         <input  id="di-lang" [(ngModel)]="Custmername" ngModel ng-model="Nom Client"placeholder="Nom Client" required />
         <input  [(ngModel)]="Adresse1" ngModel ng-model="Adresse1" placeholder="Adresse 1" required />
         <input  [(ngModel)]="Adresse2" ngModel ng-model="Adresse2" placeholder="Adresse 2"/>

         <select [(ngModel)]="ValueOfTownSelected" (change)=" onChangeCountry($event)">
            <option [selected]="vil.CSCD" *ngFor="let vil of villee" value="{{vil['CSCD']}}"  >{{vil["TX40"]}}</option>
         </select>

            <input  [(ngModel)]="codePostale" ngModel ng-model="codePos" placeholder="code Postale"/>

         
         <select [(ngModel)]="ValueOfAreaSelected"  *ngIf="ValueOfTownSelected" (change)=" onChangeState($event)" >
            <option  *ngFor="let Ar of Area" value="{{Ar['ECAR']}}" >{{Ar["TX15"]}}</option>
            </select>

         <input  [(ngModel)]="MobileNumber" ngModel ng-model="Téléphone" placeholder="Mobile Number" required />
         <input [(ngModel)]="FaxNumber" ngModel ng-model="FaxNumber" placeholder="Numéro Faxe"/>
         <input [(ngModel)]="Email" ngModel ng-model="Email" placeholder="E-mail"/>
       
       
            
      </div>
   </div>
</div>