<div class="row">
    <div class="full-width column">
      <div class="card">
        <div class="card-content">
          <div soho-circlepager>
            <div class="slides">
  
              <div class="slide">
                <div class="slide-content">
                  <p>
                    <a class="hyperlink"></a><br />
                  
                  </p>
                </div>
              </div>
  
              <div class="slide">
                <div class="slide-content">
                  <p>
                    <a  class="hyperlink"></a><br />
                
                  </p>
                </div>
              </div>
  
              <div class="slide">
                <div class="slide-content">
                  <p>
                    <a href="#" class="hyperlink"></a><br />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div soho-tabs>
    <div soho-tab-list-container>
       <ul soho-tab-list>
          <li soho-tab>
             <a soho-tab-title tabId="tab-001">Notre Reception Conseil</a>
          </li>
          <li soho-tab>
             <a soho-tab-title tabId="tab-002">Observations</a>
          </li>
        </ul>
       </div>
       </div>  
        <div soho-tab-panel-container>
          <div soho-tab-panel tabId="tab-001">
          <app-reception-conseil></app-reception-conseil>
       </div>
       <div soho-tab-panel-container>
        <div soho-tab-panel tabId="tab-002">
        <app-observation></app-observation>
     </div>
       </div>
      