<a href="#maincontent" class="skip-link" data-translate="text">SkipToMain</a>

<soho-icons *ngIf="!useUpliftIcons"></soho-icons>
<soho-icons-uplift *ngIf="useUpliftIcons"></soho-icons-uplift>

<soho-icons-empty *ngIf="!useUpliftIcons"></soho-icons-empty>
<soho-icons-empty-uplift *ngIf="useUpliftIcons"></soho-icons-empty-uplift>
<nav soho-application-menu
     [dismissOnClickMobile]=true
     [style.height]="'100%'"
     data-options="{filterable: true}" >


  <div class="accordion panel inverse" data-options="{allowOnePane: true, rerouteOnLinkClick: false}">
    <div class="searchfield-wrapper">
      <label class="audible" for="application-menu-searchfield-roles">Search</label>
      <input id="application-menu-searchfield-roles" class="searchfield" data-options='{ "clearable": true }' placeholder="Search this menu"/>
    </div>

    <div class="accordion-header list-item" data-options="{'allowOnePane': false}" >
      <svg soho-icon icon="phone-linear"></svg>
      <a [routerLink]="['calendar-monthview']"><span>Rendez-vous</span></a>
    </div>
    <div class="accordion-header list-item">
      <svg soho-icon icon="tools-addons"></svg>
      <a [routerLink]="['wizard']"><span>Services</span></a>
    </div>
    <div class="accordion-header list-item">
      <svg class="icon icon-car"><use xlink:href="assets/icons.svg#icon-car"></use></svg>
      <a [routerLink]="['calendar-monthview']"><span>Véhicule</span></a>
    </div>
   
  </div>

  <div class="branding">
    <svg class="icon" viewBox="0 0 34 34" focusable="false" aria-hidden="true" role="presentation">
      <use href="#icon-logo"></use>
    </svg>
  </div>
</nav>
<div class="page-container no-scroll">
  <app-header-dynamic-demo></app-header-dynamic-demo>
  <div id="maincontent" class="page-container scrollable" role="main">
      <router-outlet></router-outlet>
  </div>
</div>

