
<div class="block">

    <div class="field" style="    margin-left: 65.8rem;
    top: 18.3rem;">
        <label for="context-name" >Code article</label>
        <input id="context-name" name="context-name" type="text" value={{ITNO}}  readonly/>
      </div>
      
         <div class="num">
           <div class="six columns">
              <div class="field" style="top: -6.6rem;">Description de l'entrepôt
                 <label for="di-cuno"><input id="di-cuno" [(ngModel)]="WHNM" readonly /></label>                                     
              </div>
           </div>
      </div>
           <div class="cle">
           <div class="six columns">
               <div class="field" style="top: -6.6rem;" >Planificateur
                  <label for="di-cua2"><input id="di-cua2" [(ngModel)]="RESP" readonly /></label>                                      
               </div>
            </div>                              
      </div>                 
        <div class="">
           <div class="six columns">
              <div class="field" style="top: -6.6rem;">Acheteur
                 <label for="di-cumn"><input id="di-cunm" [(ngModel)]="BUYE"  readonly/></label>                                     
              </div>
           </div>                                
        </div>                    
        <div class="">
           <div class="six columns">
              <div class="field" style="top: -3.6rem;">Type de commande
                 <label for="di-town"><input id="di-town" [(ngModel)]="ORTY" readonly /></label>                                      
              </div>
           </div>     
           <div class="six columns">
              <div class="field" style="top: -3.6rem;">Entrepôt
                 <label for="di-cua3"> <input id="di-cua3"  value={{WHLO}} readonly /></label>
              </div>
           </div>
        </div>   
        <div class="">
           <div class="six columns">
              <div class="field" style="top: -3.6rem;">Numéro de fournisseur
                 <label for="di-cscd"> <input id="di-cscd" [(ngModel)]="SUNO" readonly /></label>
              </div>
           </div>
           <div class="six columns">
               <div class="field" style="top: -1rem;">Emplacement
                  <label for="di-cua1"><input id="di-cua1" [(ngModel)]="WHSL" readonly /></label>
               </div>
            </div>
           <div class="six columns">
              <div class="field" style="top: -1rem;">Type de magasin
                 <label for="di-cua4"> <input id="di-cua4" [(ngModel)]="WHTY" readonly /></label>
              </div>
           </div>
        </div>
  </div>
