
<div class="full-width column">
    <div class="field">
        <label for="context-name" class="required">Template</label>

    <select [(ngModel)]="ValueOfTemplateSelected">
        <option [selected]="item.CUNO" *ngFor="let item of items" value="{{item['CUNO']}}" >{{item["CUNM"]}}</option>
        </select>

    </div>
    <div class="field">
      <label for="context-name" class="required">Nom</label>
      <input [(ngModel)]="Custmername" ngModel ng-model="Nom Client" id="context-name" aria-required="true" data-validate="required" name="context-name" type="text"  />
    </div>

    <div class="field">
      <label for="context-name" class="required">Adresse1</label>
      <input  [(ngModel)]="Adresse1" ngModel ng-model="Adresse1"  id="context-name" aria-required="true" data-validate="required" name="context-name" type="text" />
    </div>
    <div class="field">
      <label for="context-name" class="required">Adresse2</label>
      <input  [(ngModel)]="Adresse2" ngModel ng-model="Adresse2"   id="context-name" aria-required="true" data-validate="required" name="context-name" type="text" />

    </div>
    
    <div class="field">
      <label for="context-name" class="required">Code Postale</label>
      <input  [(ngModel)]="codePostale" ngModel ng-model="codePos"   id="context-name" aria-required="true" data-validate="required" name="context-name" type="text" />

    </div>
    <div class="field">
        <label for="context-name" >Pays</label>
    <select [(ngModel)]="ValueOfTownSelected" (change)=" onChangeCountry($event)">
        <option [selected]="vil.CSCD" *ngFor="let vil of villee" value="{{vil['CSCD']}}" >{{vil["TX40"]}}</option>
        </select>
    </div>
        <div class="field">
            
        <select [(ngModel)]="ValueOfAreaSelected"  *ngIf="ValueOfTownSelected" (change)=" onChangeState($event)" >
            <label for="context-name">xx</label>
            <option  *ngFor="let Ar of Area" value="{{Ar['ECAR']}}" >{{Ar["TX15"]}}</option>
            </select>
 
        </div>
            <div class="field">
                <label for="context-name" >Téléphone</label>
                <input  [(ngModel)]="MobileNumber" ngModel ng-model="Téléphone"  id="context-name"   name="context-name" type="text" />
              </div>

              <div class="field">
                <label for="context-name" >Numéro Faxe</label>
                <input  [(ngModel)]="FaxNumber" ngModel ng-model="FaxNumber"  id="context-name " name="context-name" type="text" />
              </div>

              <div class="field">
                <label for="context-name" >E-mail</label>
                <input  [(ngModel)]="Email" ngModel ng-model="Email" id="context-name"  name="context-name" type="text" />
              </div>
              <div class="field"><label for="context-name"></label></div>
              <button soho-button="primary"    cdkFocusInitial>Ajouter</button> 
         <div><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="AddCustomer()" >Ajouter</button></div>
              
            <div class="field"><label for="context-name"></label></div>
            <div class="field"><label for="context-name"></label></div>
  </div>
