<soho-toolbar
[maxVisibleButtons]="6"
[resizeContainers]="true"
[favorButtonset]="true"
(selected)="onSelected($event)">
            <soho-toolbar-title>
              <span soho-toolbar-section-title></span>
          </soho-toolbar-title>
            <!-- buttons -->
               <soho-toolbar-button-set>
               <button soho-button="icon" icon="add" title="Ajout Véhicule" data-action="{'button':'add'}" (click)="openFullSize()" >
               </button>
              
             </soho-toolbar-button-set>
       </soho-toolbar>

  <div #vehiculeDatagrid class="grid" id="gridVehicules" soho-datagrid [gridOptions]="datagridOptions" 
soho-busyindicator [activated]="isBusy" [blockUI]="true" [displayDelay]="0" (selected)="onSelected($event.rows)">
</div>

<div soho-tabs>
    
  <div soho-tab-list-container>
     <ul soho-tab-list>
        <li soho-tab>
           <a soho-tab-title tabId="tab-001">Garantie Véhicule</a>
        </li>
        <li soho-tab>
           <a soho-tab-title tabId="tab-002">Lecture Compteur</a>
        </li>   
      </ul>
     </div>
     </div>
    <!-----------------------------------------Garantie Véhicule--------------------------------------->
  <div soho-tab-panel-container>
                   
    <div soho-tab-panel tabId="tab-001">
       <app-garantit-vehicule *ngIf="hasSelected" [LIITNO]="itemGarantitITNO"  [LISERN]="itemGarantitSERN"></app-garantit-vehicule>
   </div>
   </div>
 <!--------------------------------------------Meter reading------------------------------->
 <div soho-tab-panel-container>
                   
   <div soho-tab-panel tabId="tab-002">
   <app-compteur-vehicule *ngIf="hasSelected" [LIITNO]="itemCompteurITNO"  [LISERN]="itemCompteurSERN"></app-compteur-vehicule>
  </div>
 </div>