<soho-toolbar
[maxVisibleButtons]="6"
[resizeContainers]="true"
[favorButtonset]="true"
(selected)="onSelected($event)">
            <soho-toolbar-title>
              <span soho-toolbar-section-title></span>
          </soho-toolbar-title>
            <!-- buttons -->
               <soho-toolbar-button-set>
               <button soho-button="icon" icon="add" title="Ajout Véhicule" data-action="{'button':'add'}" (click)="openFullSize()" >
               </button>
              
             </soho-toolbar-button-set>
       </soho-toolbar>

    
          <!-------------------------------------Ajouter Réclamation------------------------------------------------------------->
          <!--<div class="popup2" *ngIf='display2'>
            <div class="background-black"   (click)="closemodal2()"></div>
            <div class="popup-container" [class]="fadeout2" >
               <div class="top" [style.background-color]="color.color">
                  <div class="text"><svg class="icon icon-taxi_alert"><use xlink:href="assets/icons.svg#icon-taxi_alert"></use></svg>Ajout Réclamation</div>
                  <div class="left"><svg class="icon"><use xlink:href="assets/icons.svg#icon-save"></use></svg>
                     <svg class="icon" (click)="closemodal2()"><use xlink:href="assets/icons.svg#icon-cancel-circle"></use></svg></div>
               </div>
             <div class="form-container">
                  <label style="width: 100%">Type réclamation</label>
                  <div class="select" style=margin-left:1rem>
                     <select  required [(ngModel)]="Model">
                        <option value="saab" disabled selected>   </option>
                        <option value="saab">4444</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                     </select>
                     </div>
                 <div class="NumVin">
                 <label>Code Voiture</label>
                  <input id="di-lang" [(ngModel)]="Vinnumber" ngModel ng-model="Vinnumber"  required />
                </div>
                <div>
                <label>Num Série</label> 
                  <input  [(ngModel)]="Numserie" ngModel ng-model="Numserie"  required />
                </div>
                <div>
                   <label>Sujet</label> 
                      <input  [(ngModel)]="Sujet" ngModel ng-model="Sujet"  required />
                </div>
                <div>
                  <label>date de l'événement</label>
                     <input  [(ngModel)]="eventdate" ngModel ng-model="eventdate"  required />
                </div>
                <div>
                  <label>heure de l'évènement</label>
                    <input  [(ngModel)]="eventtime" ngModel ng-model="eventtime"  required />
                 </div>
                 <div>
                     <label>rapporté par</label>
                    <input  [(ngModel)]="rapporte" ngModel ng-model="rapporte"  required />
                  </div>
                  <div>
                      <label>Code Erreur 1</label>
                    <input  [(ngModel)]="Erreur" ngModel ng-model="Erreur"  required />
                  </div>
                  <div>
                      <label>Code Client</label>
                    <input [(ngModel)]="CustmerNumber" ngModel ng-model="CustmerNumber"  required />
                  </div>
                  <div>
                  <label>décision par</label>
                <input [(ngModel)]="decision" ngModel ng-model="decision"  required />
                </div>
                <div>
                <label>Numéro MCO</label>
                <input [(ngModel)]="mconumber" ngModel ng-model="mconumber"  required />
                </div>
                <div>
                <label>Réclamation Client 1</label>
                <input [(ngModel)]="rec1" ngModel ng-model="rec1"  required />
                </div>
                <div>
                <label>Réclamation Client 2</label>
                <input [(ngModel)]="rec2" ngModel ng-model="rec2"  required />
                </div>
                <div>
                <label>Réclamation Client 3</label>
                <input [(ngModel)]="rec3" ngModel ng-model="rec3"  required />
                </div>
                <div>
                <label>Réclamation Client 4</label>
                <input [(ngModel)]="rec4" ngModel ng-model="rec4"  required />
                </div>
               </div>
            </div>
         </div>----------->

  <div #vehiculeDatagrid class="grid" id="gridVehicules" soho-datagrid [gridOptions]="datagridOptions" 
soho-busyindicator [activated]="isBusy" [blockUI]="true" [displayDelay]="0" (selected)="onSelected($event.rows)">
</div>

<div soho-tabs>
    
  <div soho-tab-list-container>
     <ul soho-tab-list>
        <li soho-tab>
           <a soho-tab-title tabId="tab-001">Garantie Véhicule</a>
        </li>
        <li soho-tab>
           <a soho-tab-title tabId="tab-002">Lecture Compteur</a>
        </li>
       <li soho-tab>
         <a soho-tab-title tabId="tab-003">Historique des services (facturé)</a>
       </li>
       <li soho-tab>
         <a soho-tab-title tabId="tab-004">Historique des services (non facturé)</a>
       </li>
       <li soho-tab>
         <a soho-tab-title tabId="tab-005">Attributs</a>
       </li>
       
      </ul>
     </div>
     </div>
    <!-----------------------------------------Garantie Véhicule--------------------------------------->
  <div soho-tab-panel-container>
                   
    <div soho-tab-panel tabId="tab-001">
       <app-garantit-vehicule *ngIf="hasSelected" [ITNO]="itemGarantitITNO"  [SERN]="itemGarantitSERN"></app-garantit-vehicule>
   </div>
   </div>
 <!--------------------------------------------Meter reading------------------------------->
 <div soho-tab-panel-container>
                   
   <div soho-tab-panel tabId="tab-002">
   <app-compteur-vehicule *ngIf="hasSelected" [ITNO]="itemCompteurITNO"  [SERN]="itemCompteurSERN"></app-compteur-vehicule>
  </div>
 </div>