.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .popup{
    position: fixed;
    top: 0;
    left: 0;  
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
  }
  .background-black{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: -1;
    background-color: #00000033;
    height: 100vh;
    z-index: 4;
    width: 100%;
  
  }
  .popup-container{
    width: 64rem;
      height: 54rem;
    background-color: white;
    border-radius: 1rem;
    animation: popup-animation .5s ;
    z-index: 6;
  }
  .popup-fadout{
  animation: fadeout 1s;
  }
  @keyframes popup-animation {
    0%{
      transform: translateY(100%);
      opacity: 0.5;
  
  
    }
    100%{
      transform: translateY(0);
      opacity: 1;
  
    }
  }
  
  @keyframes fadeout{
    0%{
      transform :translateY(0);
      opacity: 1;
    }
    100%{
      transform: translateY(200%);
      opacity: 0.5;
    }
  }
  .top{
    height: 5rem;
    width: 100%;
    background-color: #2578a9;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
    justify-content: space-between;
  }
  .icon{
    width: 2.5rem;
    height: 2.5rem;
    fill: white;
    margin: .5rem;
    cursor: pointer;
    transition: all .5s;
  }
  .icon-plus{
    width: 2.5rem;
    height: 2.5rem;
    fill: white;
    margin-right: 1rem;
  }
  .icon:hover{
    transform: translateY(-1px) scale(1.1);
  }
  .left{
    padding: 1rem;
  }
  .text{
    padding: 2rem;
    display: flex;
    align-items: center;
  }
  
  .form-container{
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    overflow: auto;
  }
  input{
    min-width: 30rem;
    margin: 2rem;
    height: 3rem;
}
  
  
  
  select{
    border: 1px solid gray;
    min-width: 30rem;
    height: 3rem;
    margin: 1rem;
  }
  .popup1{
    position: fixed;
    top: 0;
    left: 0;  
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
  }
  .popup2{
    position: fixed;
    top: 0;
    left: 0;  
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
  }