<soho-toolbar
[maxVisibleButtons]="6"
[resizeContainers]="true"
[favorButtonset]="true"
(selected)="onSelected($event)">
            
           <soho-toolbar-title>
              <span soho-toolbar-section-title></span>
          </soho-toolbar-title>
            
             
                  <!-- buttons -->
               <soho-toolbar-button-set>
               <!-- buttons -->
               
               <button soho-button="icon" icon="add" title="Ajout Véhicule" data-action="{'button':'add'}" (click)="ajouterVehicule()" >
               </button>
             
             
               <button soho-button="icon" icon="add" title="Ajout Opération" data-action="{'button':'add'}" (click)="ajouterOperation()" >
               </button>
             
             
               <button soho-button="icon" icon="add" title="Ajout Réclamation" data-action="{'button':'add'}" (click)="ajouterReclamation()" >
               </button>
             
            </soho-toolbar-button-set>
       </soho-toolbar>

       <!----------------------------------------Ajouter Véhicule---------------------------------->
       
       <div class="popup" *ngIf='display'>
         <div class="background-black"   (click)="closemodal()"></div>
         <div class="popup-container" [class]="fadeout" >
            <div class="top">
               <div class="text"> <svg class="icon icon-car"><use xlink:href="assets/icons.svg#icon-car"></use></svg>Ajout Véhicule</div>
               <div class="left"><svg class="icon"><use xlink:href="assets/icons.svg#icon-save"></use></svg>
                  <svg class="icon" (click)="closemodal()"><use xlink:href="assets/icons.svg#icon-cancel-circle"></use></svg></div>
            </div>
     <div class="form-container">
               <label>Model</label><div class="select">
                  <select  required [(ngModel)]="Model">
                     
                     <option value="saab" disabled selected>   </option>
                     <option value="saab">4444</option>
                     <option value="mercedes">Mercedes</option>
                     <option value="audi">Audi</option>
                  </select>
                  
               </div>
              <div class="NumVin">
              <label>Numéro VIN</label>
               <input id="di-lang" [(ngModel)]="Vinnumber" ngModel ng-model="Vinnumber"  required />
             </div>
             <div>
             <label>Num Série</label> 
               <input  [(ngModel)]="Numserie" ngModel ng-model="Numserie"  required />
             </div>
             <div>
                <label>Code Client</label> 
                   <input  [(ngModel)]="CustmerNumber" ngModel ng-model="CustmerNumber"  readonly />
             </div>
           <div>
               <label class="op">Plan d'opération</label>
           </div>
           <div>
             <label>Distribution Courbe</label>
                <input  [(ngModel)]="Dcurve" ngModel ng-model="Dcurve"  readonly />
           </div>
           <div>
             <label>kilométrage</label>
               <input  [(ngModel)]="Meter" ngModel ng-model="Meter" placeholder="KM" required />
            </div>
            <div>
                <label>moyenne mensuelle KM</label>
               <input  [(ngModel)]="Maverage" ngModel ng-model="Maverage"  required />
             </div>
             <div>
                 <label>Période jj/mm/aaaa</label>
               <input  [(ngModel)]="periode" ngModel ng-model="periode"  required />
             </div>
             <div>
                 <label>No of periods</label>
               <input [(ngModel)]="ofp" ngModel ng-model="ofp"  required />
             </div>
             
            </div>
         </div>
      </div>
   
      <!-------------------------------------Ajouter Opération--------------------------------------->
      <div class="popup1" *ngIf='display1'>
         <div class="background-black"   (click)="closemodal1()"></div>
         <div class="popup-container" [class]="fadeout1" >
            <div class="top">
               <div class="text"> <svg class="icon icon-car"><use xlink:href="assets/icons.svg#icon-car"></use></svg>Ajout opération plan</div>
               <div class="left"><svg class="icon"><use xlink:href="assets/icons.svg#icon-save"></use></svg>
                  <svg class="icon" (click)="closemodal1()"><use xlink:href="assets/icons.svg#icon-cancel-circle"></use></svg></div>
            </div>
     <div class="form-container">
         <div class="listnom">
             <label>Liste Nom</label>
              <input id="di-lang" [(ngModel)]="listnom" ngModel ng-model="listnom"  required />
            </div>  
              <div class="NumVin">
              <label>Numéro VIN</label>
               <input id="di-lang" [(ngModel)]="Vinnumber" ngModel ng-model="Vinnumber"  required />
             </div>
           <div>
             <label>Distribution Courbe</label>
                <input  [(ngModel)]="Dcurve" ngModel ng-model="Dcurve"  readonly />
           </div>
           <div>
             <label>kilométrage</label>
               <input  [(ngModel)]="Meter" ngModel ng-model="Meter" placeholder="KM" required />
            </div>
            <div>
                <label>moyenne mensuelle KM</label>
               <input  [(ngModel)]="Maverage" ngModel ng-model="Maverage"  required />
             </div>
             <div>
                 <label>Période jj/mm/aaaa</label>
               <input  [(ngModel)]="periode" ngModel ng-model="periode"  required />
             </div>
             <div>
                 <label>No of periods</label>
               <input [(ngModel)]="ofp" ngModel ng-model="ofp"  required />
             </div>
             
             
             </div>
            </div>
         </div>
          <!-------------------------------------Ajouter Réclamation------------------------------------------------------------->
          <div class="popup2" *ngIf='display2'>
            <div class="background-black"   (click)="closemodal2()"></div>
            <div class="popup-container" [class]="fadeout2" >
               <div class="top">
                  <div class="text"><svg class="icon icon-taxi_alert"><use xlink:href="assets/icons.svg#icon-taxi_alert"></use></svg>Ajout Réclamation</div>
                  <div class="left"><svg class="icon"><use xlink:href="assets/icons.svg#icon-save"></use></svg>
                     <svg class="icon" (click)="closemodal2()"><use xlink:href="assets/icons.svg#icon-cancel-circle"></use></svg></div>
               </div>
             <div class="form-container">
                  <label>Type réclamation</label><div class="select">
                     <select  required [(ngModel)]="Model">
                        
                        <option value="saab" disabled selected>   </option>
                        <option value="saab">4444</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                     </select>
                     
                  </div>
                 <div class="NumVin">
                 <label>Code Voiture</label>
                  <input id="di-lang" [(ngModel)]="Vinnumber" ngModel ng-model="Vinnumber"  required />
                </div>
                <div>
                <label>Num Série</label> 
                  <input  [(ngModel)]="Numserie" ngModel ng-model="Numserie"  required />
                </div>
                <div>
                   <label>Sujet</label> 
                      <input  [(ngModel)]="Sujet" ngModel ng-model="Sujet"  required />
                </div>
                <div>
                  <label>date de l'événement</label>
                     <input  [(ngModel)]="eventdate" ngModel ng-model="eventdate"  required />
                </div>
                <div>
                  <label>heure de l'évènement</label>
                    <input  [(ngModel)]="eventtime" ngModel ng-model="eventtime"  required />
                 </div>
                 <div>
                     <label>rapporté par</label>
                    <input  [(ngModel)]="rapporte" ngModel ng-model="rapporte"  required />
                  </div>
                  <div>
                      <label>Code Erreur 1</label>
                    <input  [(ngModel)]="Erreur" ngModel ng-model="Erreur"  required />
                  </div>
                  <div>
                      <label>Code Client</label>
                    <input [(ngModel)]="CustmerNumber" ngModel ng-model="CustmerNumber"  required />
                  </div>
                  
                <div>
                  <label>décision par</label>
                <input [(ngModel)]="decision" ngModel ng-model="decision"  required />
                </div>
                <div>
                <label>Numéro MCO</label>
                <input [(ngModel)]="mconumber" ngModel ng-model="mconumber"  required />
                </div>
                <div>
                <label>Réclamation Client 1</label>
                <input [(ngModel)]="rec1" ngModel ng-model="rec1"  required />
                </div>
                <div>
                <label>Réclamation Client 2</label>
                <input [(ngModel)]="rec2" ngModel ng-model="rec2"  required />
                </div>
                <div>
                <label>Réclamation Client 3</label>
                <input [(ngModel)]="rec3" ngModel ng-model="rec3"  required />
                </div>
                <div>
                <label>Réclamation Client 4</label>
                <input [(ngModel)]="rec4" ngModel ng-model="rec4"  required />
                </div>
               </div>
            </div>
         </div>

  <div #vehiculeDatagrid class="grid" id="gridVehicules" soho-datagrid [gridOptions]="datagridOptions" 
soho-busyindicator [activated]="isBusy" [blockUI]="true" [displayDelay]="0" (selected)="onSelected($event.rows)">
</div>

<div soho-tabs>
    
  <div soho-tab-list-container>
     <ul soho-tab-list>
        <li soho-tab>
           <a soho-tab-title tabId="tab-001">prévu PM</a>
        </li>
        <li soho-tab>
           <a soho-tab-title tabId="tab-002">Garantie Véhicule</a>
        </li>
        <li soho-tab>
           <a soho-tab-title tabId="tab-003">Vehicle Adress</a>
        </li>
        <li soho-tab>
           <a soho-tab-title tabId="tab-004">Lecture Compteur</a>
        </li>
        <li soho-tab>
          <a soho-tab-title tabId="tab-005">AS-blt Struct</a>
       </li>
       <li soho-tab>
         <a soho-tab-title tabId="tab-006">Historique des services (facturé)</a>
       </li>
       <li soho-tab>
         <a soho-tab-title tabId="tab-007">Historique des services (non facturé)</a>
       </li>
       <li soho-tab>
         <a soho-tab-title tabId="tab-008">Service spécial ouvert</a>
       </li>
       <li soho-tab>
         <a soho-tab-title tabId="tab-009">Service spécial fermé</a>
       </li>
      </ul>
     </div>
     </div>
   
 <!--------------------------------------------Meter reading------------------------------->
 <div soho-tab-panel-container>
                   
   <div soho-tab-panel tabId="tab-004">
      <div soho-busyindicator [activated]="isDetailBusy" [blockUI]="true" [displayDelay]="0">
         <div #vehiculeDatagridMeters class="grid"  id="gridMeters" soho-datagrid [gridOptions]="datagridOptionsMeters" 
         soho-busyindicator [activated]="isBusy" [blockUI]="true" [displayDelay]="0" >
         
      </div>
   </div>
  </div>

  <!-----------------------------------------Garantie Véhicule--------------------------------------->
  <div soho-tab-panel-container>
                   
    <div soho-tab-panel tabId="tab-002">
       <div soho-busyindicator [activated]="isDetailBusy" [blockUI]="true" [displayDelay]="0">
          <div #vehiculeDatagridGarantit class="grid"  id="gridGarantit" soho-datagrid [gridOptions]="datagridOptionsGarantit" 
          soho-busyindicator [activated]="isBusy" [blockUI]="true" [displayDelay]="0" >
          
       </div>
    </div>
   </div>