
  <head>
    <style>
      table, th, td {
      padding: 2px;
      border: 2px solid rgb(9, 124, 170);
      border-collapse: collapse;
      
      }
    </style>
  </head>
  
    <table>
      <tr>
        <th class="TOUR"><strong>TOUR DE VEHICULE</strong></th>
        <th class="Aprevoir" style="color: rgb(9, 124, 170);">A<br>prévoir</th>
        <th class="Aprevoir"  style="color: rgb(9, 124, 170);">Accord<br>client</th>
        <th class="PORT"><strong>SUR LE PORT</strong></th>
        <th class="Aprevoir"  style="color: rgb(9, 124, 170);">A<br>prévoir</th>
        <th class="Aprevoir"  style="color: rgb(9, 124, 170);">Accord<br>client</th>

      </tr>
      <tr>
        <td>Pare-chocs AV/AR-Calandre-Plaque immat.AV/AR-Caport-Hayon-Porte de coffre</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td>Etat des gaines:Rotules de direction / de pivots / Transmissions / Crémaillières</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
      </tr>
      <tr>
        <td>Etats optique AVD / AVG / ARD / ARG-Pare-brise -Essuie-glace</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td>Etanchéité Freins : Etat des plaquettes + disque AV [sans démontage]</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
      </tr>
      <tr >
        <td>Glace porte AVD / AVG / ARD / ARG - Custode - lunette AR - Essuie-glace</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td>Etanchéité : Moteur / Bdv / Circuit de refroidissement / Hydraulique</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
      </tr>
      <tr>
        <td>Aile AVD / G-Porte AVD - AVG / ARG / ARD - Aile ARD / G </td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td>Etat échappement : Tubulure / Tube AV / Poc / Silencieux / Tube AR</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
      </tr>
      <tr>
        <td>Retro D /G-Baguette aile AVD / G porte AVD / AVG / ARD/ARG, aile ARD / G</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <th class="INTERIEUR"> <strong>  A L'INTERIEUR </strong>     </th>
        <td class="Aprevoir"></td>
        <td class="Aprevoir"></td>
      </tr>
      <tr>
        <td>Enjoliveurs ADV / AVG / ARD / ARG</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td>Fonctionnement : Avertisseur optique / sonore / Montre / Voyants sécurité</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
      </tr>
      <tr>
        <td>Suspension AVD/AVG/ARD/ARG Etat des pneumatique AVD/AVG/ARD/ ARG Rds</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td>Fonctionnement : Feux position D/ G- Feux croissement D / G-Feux route D / G</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
      </tr>
      <tr>
      <th class="CAPOT"><strong> SOUS LE CAPOT</strong></th>
      <td class="Aprevoir"></td>
      <td class="Aprevoir"></td>
      <td>Feux Arrière D / G- Stop D / G- Troisième feux stop - feux plaque immat    </td>
      <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
      <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
      </tr>
      <tr>
        <td>Etat: Faisceaux - Durifs - Batterie - Tension des courroies</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td>Clignotants AVD/AVG/ARD/ARG/ Feux recul / Feux vrouillard AV /AR</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
      </tr>
      <tr>
        <td>Niveau : Hulies - liquides de refroidissement /de frein/de LHM/de direction /de lave-glace</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td>Divers</td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
        <td><input type="checkbox" id="reponse-1" name="reponse-1" /></td>
      </tr>
    </table>
  