
            
       
         <div class="six columns">
            <div class="field">Code client 
               <label for="di-cscd"> <input id="dev"  [(ngModel)]="detailItem.ITNO" readonly/></label>
               
            </div>
         </div>
         <div class="six columns">
             <div class="field">Nom
                <label for="di-cua1"><input id="vend" [(ngModel)]="detailItem.ITDS" readonly /></label>
                
             </div>
          </div>
         <div class="six columns">
            <div class="field">Responsable
               <label for="di-cua4"> <input id="rem" [(ngModel)]="detailItem.RESP" readonly /></label>
                
            </div>
            
         </div>
         <div class="six columns">
            <div class="field">Nom utilisateur responsable
               <label for="di-cua4"> <input id="pai" [(ngModel)]="detailItem.RENM" readonly /></label>
    
            </div>
         </div>
         <div class="six columns">
            <div class="field">Type article
               <label for="di-cua4"> <input id="grprem" [(ngModel)]="detailItem.ITTY" readonly/></label>
                
            </div>
            
         </div>
         <div class="six columns">
            <div class="field">Groupe article 
               <label for="di-cua4"> <input id="grprem" [(ngModel)]="detailItem.ITGR" readonly/></label>
                
            </div>
            
         </div>
    
      

     


