
            
       
         <div class="six columns">
            <div class="field">Code Article
               <label for="di-cscd"> <input id="dev"  [(ngModel)]="ITNO" readonly/></label>
               
            </div>
         </div>
         <div class="six columns">
             <div class="field">Nom
                <label for="di-cua1"><input id="vend" [(ngModel)]="ITDS" readonly /></label>
                
             </div>
          </div>
         <div class="six columns">
            <div class="field">Responsable
               <label for="di-cua4"> <input id="rem" [(ngModel)]="RESP" readonly /></label>
                
            </div>
            
         </div>
         <div class="six columns">
            <div class="field">Nom utilisateur responsable
               <label for="di-cua4"> <input id="pai" [(ngModel)]="RENM" readonly /></label>
    
            </div>
         </div>
         <div class="six columns">
            <div class="field">Type article
               <label for="di-cua4"> <input id="typeArticle" [(ngModel)]="ITTY" readonly/></label>
                
            </div>
            
         </div>
         <div class="six columns">
            <div class="field">Groupe article 
               <label for="di-cua4"> <input id="GrpArticle" [(ngModel)]="ITGR" readonly/></label>
                
            </div>
            
         </div>
    
      

     


